.parent {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 30px;
}

.main-block {
	grid-column: span 2 / span 2;
	grid-row: span 2 / span 2;
}

.main-block-1 {
	grid-column-start: 3;
	grid-row-start: 2;
}

.main-block-2 {
	grid-column-start: 5;
	grid-row-start: 2;
}

.main-block-3 {
	grid-column-start: 3;
	grid-row-start: 4;
}

.main-block-4 {
	grid-column-start: 5;
	grid-row-start: 4;
}
